@charset "UTF-8";

body {
  font-size: 14px;
}

/* 1. 상단 메인 정보 */

.main-info-container {
  margin-top: 20px;
  opacity: 1;
  display: flex;
  align-items: flex-start;
}

.main-img {
  width: 525px;
  height: 525px;
  max-height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
}

.main-img img {
	width: 100%;
	max-height: 525px;
	object-fit: cover;
	
    display: block;
}

.main-info-text-container {
  margin-left: 30px;
}

.main-info-line {
  display: flex;
  align-items: center;
  height: 70px;
  border-top: 0.3px solid #CCCCCC;
  border-bottom: 0.3px solid #CCCCCC;
}

.category-line {
	justify-content: flex-end;
}

.info-title {
  width: 150px;
  color: #999;
  font-family: Noto Sans KR;
  font-weight: DemiLight;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.info-text {
  color: #99999;
  font-family: Noto Sans KR;
  font-weight: DemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  flex: 1;
}

.diy-category-info {
  width: auto;
  color: #999999;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
  margin-left: 10px;
  padding: 4px 8px;
  border: 1px solid #999999;
}

.diy-dish-info {
  width: 73px;
  color: rgba(145,140,1,1);
  top: 5px;
  left: 9px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  margin-right: 5px;
  padding: 4px 8px;
  border: 1px solid rgba(145,140,1,1);
}

.diy-vote-info {
  color: #99999;
  top: 5px;
  left: 9px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  margin-right: 10px;
}

.vote-count {
  color: rgba(145,140,1,1);
}

.button-group {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 10px;
}

.vote-button {
	width: auto;
	margin-right: 10px;
	color: rgba(145, 140, 0, 1);
	background-color: white;
	top: 15px;
	left: 71px;
	font-family: Noto Sans KR;
	font-weight: Medium;
	font-size: 20px;
	opacity: 1;
	text-align: center;
	border: 1px solid rgba(145,140,1,1);
	flex-grow: 1;
}

.scrap-button {
	width: auto;
	color: white;
	background-color: rgba(145, 140, 0, 1);
	top: 15px;
	left: 71px;
	font-family: Noto Sans KR;
	font-weight: Medium;
	font-size: 20px;
	opacity: 1;
	text-align: center;
	flex-grow: 1;
	border: 1px solid white;
	
}

/* 2. 하단 상세 정보 */

.detail-info-container {
	margin-top: 20px;
	width: 100%;
	min-height: 1000px;
}

/* tab 부분 */

.tab-menu {
/*   z-index: 3; */
/*   top: 0; */
  height: 150px;
  padding-top: 50px;
}

.tab-menu.fixed {
  position: fixed;
}

/* bootstrap 디자인 무효화 */
.tab-menu .nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.tab-menu .nav-pills .nav-link.active {
  background-color: transparent;
}

.tab-menu .tab-menu__inner {
  position: relative;
  width: 100%;
  height: 63px;
  margin: 0 auto;
}

/* 경계선 */
.tab-menu .tab-menu__inner:after {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background: #918c00;
  content: '';
}

.tab-menu .tab-menu__inner .tab-menu__list {
  position: relative;
  float: left;
  width: 300px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 55px;
  z-index: -1;
}

.tab-menu .tab-menu__inner .tab-menu__list:first-child {
  margin-left: 0;
  z-index: -1;
}

.tab-menu .tab-menu__inner .tab-menu__list a {
  display: block;
  padding-right: 24px;
  color: #666;
}

.tab-menu__list a:after {
  content: '';
  bottom: -8px;
  display: block;
  position: absolute;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 22px solid #EAEAEA;
  border-left: 13px solid #EAEAEA;
}

.tab-menu__list a strong {
  display: block;
  background: #eaeaea;
  border-radius: 20px 20px 0 0;
}

.tab-menu__list--on {
  z-index: 2;
}

.tab-menu__list--on a:after {
    bottom: -8px;
	border-top: 24px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 22px solid #918c00;
    border-left: 13px solid #918c00;
}

.tab-menu__list--on a strong {
	background: #918c00;
    color: #FFF;
}

.tab-menu__count {
  display: block;
  position: absolute;
  top: -4px;
  right: 14px;
  z-index: 2;
  min-width: 29px;
  min-height: 29px;
  padding: 0 8px;
  background: #3d3d3d;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border-radius: 15px;
  box-sizing: border-box;
}

/* 디테일 info */

.tab-content {
  padding-left: 0; /* 왼쪽 여백 제거 */
}

.tab-pane.container {
  margin-left: 0; /* 왼쪽 여백 제거 */
  min-width: 100%;
}

.diy-advertise-sec {
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  text-align: center;
}

.diy-advertise-sec img {
	width: 100%;
    display: block;
    height: 400px;
    object-fit: cover;
}

.detail-info-section {
	margin-top: 60px;
}

.info-section-title {
	font-family: Noto Sans KR;
	font-weight: Bold;
	font-size: 33px;
	opacity: 1;
	text-align: left;
}

.info-img-text-sec {
	display: flex;
}

.info-text-section {
	margin-top: 30px;
	width: 500px;
}

.info-img-section {
	flex:1;
	display: flex;
    justify-content: flex-end;
}

.sub-info-line.last-line {
  border-bottom: none;
}

.sub-info-line {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 0.3px solid #CCCCCC;
}

.sub-info-line .info-title,
.sub-info-line .info-text {
  font-size: 16px;
}

.info-img-section img {
	height: 500px;
	border: 0.5px solid #CCCCCC;
}

.img-section {
	height: 100px;
	display: flex;
}

.img-section img {
	margin-right: 10px;
}

.main-title {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border-bottom: 2px solid #999;
}

.title-text {
  width: 491px;
  color: rgba(28,28,28,1);
  top: 23px;
  left: 33px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.main-introduction {
	margin-bottom: 5px;
}

.diy-type {
  color: rgba(145,140,1,1);
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.new-badge {
  width: 8px;
  color: rgba(255,0,0,1);
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  vertical-align: top;
}

.comment-section .sub-info-line .info-title {
	width: 50px;
}

.comment-section {
	margin-bottom: 80px;
}

.last-section {
	margin-bottom: 50px;
}