* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

.banner {
	width: 90%;
	height: 45px;
	background: url("../images/v62_1140.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
	margin: 0 auto;
	text-align: right;
}

.banner span {
	display: inline-block;
	vertical-align: middle;
	color: rgba(28, 28, 28, 1);
	font-family: "Noto Sans KR";
	font-weight: 300;
	font-size: 14px;
	opacity: 1;
}

.link {
	text-align: right;
	margin: 0 5px;
}

.link a.no-underline {
  text-decoration: none;
  color: inherit;
}

.divider {
	width: 1px;
	height: 15px;
	background: rgba(136, 136, 136, 1);
	margin: 0 5px;
}

.customer-service {
	width: 64px;
	height: 46px;
	background: url("../images/v62_1146.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	vertical-align: middle;
}

.customer-service-label {
	text-align: right;
	margin: 0 5px;
}

.divider:last-child {
	display: none;
}

/* header2 */


.hd__header .header__sec:after, .hd__header .header .all-category > div:after, .hd__footer__inner:after, .hd .sns-share__icon:after, .hd .popup_search .modal .category .box:after, .hd .popup_filter .modal .category .box:after, .hd .designationDetail .overview:after, .hd .addPopup .overview:after, .hd .designationDetail .detail .tab-menu__inner:after, .hd .addPopup .detail .tab-menu__inner:after, .hd .designationDetail .detail .tab-content.cont-info .item-area .box:after, .hd .addPopup .detail .tab-content.cont-info .item-area .box:after, .hd .designationDetail .detail .tab-content.cont-inquiry .head:after, .hd .addPopup .detail .tab-content.cont-inquiry .head:after, .hd .designationDetail .detail .tab-content.cont-inquiry .btn:after, .hd .addPopup .detail .tab-content.cont-inquiry .btn:after, .hd .popup_orderDeadline .orderDeadline .box .boxInner__list:after, .hd .minicart .input:after, .hd .minicart .btn-area:after, .hd .main .now:after, .hd__displayList .list-area .box:after, .hd .displayDetail .item-area .head:after, .hd .mealsConfirm__table table tbody td div:after, .hd__healthCareList .healthCareList .box:after, .hd__market .market .oveview:after, .hd__marketList .marketList .item-area .head:after, .hd .designationDetail .detail .tab-content.cont-review .btn:after, .hd .addPopup .detail .tab-content.cont-review .btn:after, .hd .hd__marketDetail .marketDetail .detail .tab-content.cont-review .btn:after, .hd__marketDetail .marketDetail .detail .hd .tab-content.cont-review .btn:after, .hd__marketDetail .marketDetail .overview:after, .hd__marketDetail .marketDetail .overview .btn-area:after, .hd__marketDetail .marketDetail .detail .tab-menu__inner:after, .hd__marketDetail .marketDetail .detail .tab-content.cont-info .item-area .box:after, .hd__marketDetail .marketDetail .detail .tab-content.cont-inquiry .head:after, .hd__marketDetail .marketDetail .detail .tab-content.cont-inquiry .btn:after, .hd .designationList__btn__inner:after, .hd__eventDetail .eventCheckAttendance .stamp-area .stamps:after, .hd__orderPayment .orderPayment__inner:after, .itemConfirm .box__list.multi:after, .itemConfirm .box__list.multi .boxInner__list .detail p:after, .itemConfirm .box__list.single .boxInner .detail:after, .itemConfirm .box__list.single .boxInner .detail__rgt.price:after, .hd .orderComplete__sec .cont-table:after, .hd__greatingJoin .hd__sub .health-info__sec:after, .hd__snsJoin .hd__sub .health-info__sec:after, .hd__empJoin .empJoin .health-info__sec:after, .hd__fsJoin .fsJoin .health-info__sec:after, .hd__b2bJoin .b2bJoin .health-info__sec:after, .hd__b2cJoin .b2cJoin .health-info__sec:after, .hd .sub-wrap:after, .hd__searchResult .searchResult .item-area .head:after, .hd .myPage .mySearch__box:after, .hd .orderView .paymentList .box:after, .hd .applyOrderCancel .refund__price:after, .hd .applyOrderExchange .refund__price:after, .hd .tab-menu__inner:after, .hd [class*="myClaimDetail"] .refund__price:after, .hd .myLoginLog__search .mySearch__box:after, .hd__myPoint .myPoint .tab-menu__inner:after, .hd__myCoupon .myCoupon .tab-menu__inner:after, .hd__myGiftcard .myCoupon .tab-menu__inner:after, .item-area .box:after {
  display: block;
  clear: both;
  content: "";
}

.hd .designationDetail .detail .tab-content.cont-info figure, .hd .addPopup .detail .tab-content.cont-info figure, .hd .popup_menuChoice .mchoice__wrap figure, .hd__marketDetail .marketDetail .detail .tab-content.cont-info figure, .hd__myOrderList .myOrderList .myList .item-wrap .item-info figure, .hd__myOrderList .myOrderList .myList .item-wrap .item-info .textbox .gift figure, .hd__myOrderList .myOrderList .myList .item-wrap .item .innerItem-wrap .innerItem figure, .hd__myOrderList .myOrderList .myList .item-wrap .item .innerItem-wrap .innerItem .textbox .gift figure, .hd__myClaimList .myClaimList .innerItem-wrap .innerItem figure, .hd__myClaimList .myClaimList .innerItem-wrap .innerItem .textbox .gift figure, .hd__myClaimList .myClaimList .myList .item-wrap .item-info figure, .hd__myClaimList .myClaimList .myList .item-wrap .item-info .textbox .gift figure, .hd__myClaimList .myClaimList .myList .item-wrap .item .innerItem-wrap .innerItem figure, .hd__myClaimList .myClaimList .myList .item-wrap .item .innerItem-wrap .innerItem .textbox .gift figure, .hd__myShippingItemList .myShippingItemList .myList .item-wrap .item-info figure, .hd__myShippingItemList .myShippingItemList .myList .item-wrap .item .innerItem-wrap .innerItem figure {
  text-align: center;
}

.hd .designationDetail .detail .tab-content.cont-info figure img, .hd .addPopup .detail .tab-content.cont-info figure img, .hd .popup_menuChoice .mchoice__wrap figure img, .hd__marketDetail .marketDetail .detail .tab-content.cont-info figure img, .hd__myOrderList .myOrderList .myList .item-wrap .item-info figure img, .hd__myOrderList .myOrderList .myList .item-wrap .item-info .textbox .gift figure img, .hd__myOrderList .myOrderList .myList .item-wrap .item .innerItem-wrap .innerItem figure img, .hd__myOrderList .myOrderList .myList .item-wrap .item .innerItem-wrap .innerItem .textbox .gift figure img, .hd__myClaimList .myClaimList .innerItem-wrap .innerItem figure img, .hd__myClaimList .myClaimList .innerItem-wrap .innerItem .textbox .gift figure img, .hd__myClaimList .myClaimList .myList .item-wrap .item-info figure img, .hd__myClaimList .myClaimList .myList .item-wrap .item-info .textbox .gift figure img, .hd__myClaimList .myClaimList .myList .item-wrap .item .innerItem-wrap .innerItem figure img, .hd__myClaimList .myClaimList .myList .item-wrap .item .innerItem-wrap .innerItem .textbox .gift figure img, .hd__myShippingItemList .myShippingItemList .myList .item-wrap .item-info figure img, .hd__myShippingItemList .myShippingItemList .myList .item-wrap .item .innerItem-wrap .innerItem figure img {
  max-width: 100%;
  vertical-align: middle;
}

.hd .designationDetail .detail .tab-content.cont-info figure:after, .hd .addPopup .detail .tab-content.cont-info figure:after, .hd .popup_menuChoice .mchoice__wrap figure:after, .hd__marketDetail .marketDetail .detail .tab-content.cont-info figure:after, .hd__myOrderList .myOrderList .myList .item-wrap .item-info figure:after, .hd__myOrderList .myOrderList .myList .item-wrap .item-info .textbox .gift figure:after, .hd__myOrderList .myOrderList .myList .item-wrap .item .innerItem-wrap .innerItem figure:after, .hd__myOrderList .myOrderList .myList .item-wrap .item .innerItem-wrap .innerItem .textbox .gift figure:after, .hd__myClaimList .myClaimList .innerItem-wrap .innerItem figure:after, .hd__myClaimList .myClaimList .innerItem-wrap .innerItem .textbox .gift figure:after, .hd__myClaimList .myClaimList .myList .item-wrap .item-info figure:after, .hd__myClaimList .myClaimList .myList .item-wrap .item-info .textbox .gift figure:after, .hd__myClaimList .myClaimList .myList .item-wrap .item .innerItem-wrap .innerItem figure:after, .hd__myClaimList .myClaimList .myList .item-wrap .item .innerItem-wrap .innerItem .textbox .gift figure:after, .hd__myShippingItemList .myShippingItemList .myList .item-wrap .item-info figure:after, .hd__myShippingItemList .myShippingItemList .myList .item-wrap .item .innerItem-wrap .innerItem figure:after {
  display: inline-block;
  position: relative;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

/* 구분선 ex) userid | 2018-04-30 */
.hd__header .header .user-area nav a + a, .hd .designationDetail .detail .tab-content.cont-inquiry .head .mine, .hd .addPopup .detail .tab-content.cont-inquiry .head .mine, .hd__displayList .list-area .box__list__dDay, .hd .displayDetail__dDay, .hd__marketDetail .marketDetail .detail .tab-content.cont-inquiry .head .mine, .hd .eventList__cont .box__list__dDay, .hd__eventDetail__date .d-day {
  position: relative;
}

.hd__header .header .user-area nav a + a:before, .hd .designationDetail .detail .tab-content.cont-inquiry .head .mine:before, .hd .addPopup .detail .tab-content.cont-inquiry .head .mine:before, .hd__displayList .list-area .box__list__dDay:before, .hd .displayDetail__dDay:before, .hd__marketDetail .marketDetail .detail .tab-content.cont-inquiry .head .mine:before, .hd .eventList__cont .box__list__dDay:before, .hd__eventDetail__date .d-day:before {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
  content: '';
}

.hd__header .header .all a, .hd__header .header .all a:hover, .hd__header .header .all.on .all__icon span, .hd__page-title-more, .hd__page-title a, .hd .pagenation__number .paging, .hd .popup_search .modal .category .box__list label, .hd .main__h3-more, .hd .main__h3 a, .hd .main .normal-tab li a, .hd .main .magazine-list .slick-arrow, .hd .main .tv-area__btn i:after, .hd .main .banner-list__title, .hd .main .banner-list__desc, .hd__bestList .list-area .tab-menu__list a, .hd__bestList .list-area .tab-menu__list:hover a, .hd .story__sec.main .main-btn, .hd .story__sec.main .main-btn i:after, .hd .story__sec.greating .greating-btn, .hd .story__sec.greating .greating-btn i:after, .hd .story__sec.greenfood .greenfood-title, .hd .story__sec.greenfood .greenfood-desc, .hd .meals.v2 a, .hd .meals.v2 a i, .hd .meals.v2 .meals__banner-btn .btn-init, .hd .meals.v2 .meals__banner-more, .hd__market .market .oveview .slider-nav__list, .hd__market .market .oveview .slider-nav .swiper-scrollbar, .hd__market .market .market__top .category-list ul li a:after, .hd__marketList .marketList .category .tnb__list > a, .hd__marketList .marketList .brand-info__tit, .hd__marketList .marketList .brand-info__tit i:before, .hd__marketList .marketList .brand-info__tit i:after, .hd .bestReview__list [class^="swiper-button-"]:after {
  transition: all 0.4s ease;
}

.hd .meals__choice .box__list__count, .item-area .box__list__count {
  display: block;
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.hd .meals__choice .box__list__count input, .item-area .box__list__count input {
  vertical-align: top;
  width: calc(100% - 110px);
  height: 45px;
  border: 0;
  background: #F0F0F0;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ccc;
  box-sizing: border-box;
}

.hd .meals__choice .box__list__count input.on, .item-area .box__list__count input.on {
  border: 1px solid #918c00;
  background: #FFF;
  color: #3D3D3D;
}

.hd .meals__choice .box__list__count .btn__count, .item-area .box__list__count .btn__count {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  background: #918c00;
}

.hd .meals__choice .box__list__count .btn__count-down, .item-area .box__list__count .btn__count-down {
  left: -1px;
}

.hd .meals__choice .box__list__count .btn__count-down:before, .item-area .box__list__count .btn__count-down:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 3px;
  background: #FFF;
  transform: translate(-50%, -50%);
}

.hd .meals__choice .box__list__count .btn__count-up, .item-area .box__list__count .btn__count-up {
  right: -1px;
}

.hd .meals__choice .box__list__count .btn__count-up:before, .item-area .box__list__count .btn__count-up:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 3px;
  background: #FFF;
  transform: translate(-50%, -50%);
}

.hd .meals__choice .box__list__count .btn__count-up:after, .item-area .box__list__count .btn__count-up:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 21px;
  background: #FFF;
  transform: translate(-50%, -50%);
}

.hd .meals__choice .box__list__count button:disabled, .item-area .box__list__count button:disabled {
  background: #BCBCBC;
}

/******************************
***********scss 파일***********
******************************/
.hd .hide {
  display: none !important;
}

.hd:not(#main):not(#healthCare) .hd__header .header {
  border-bottom: 1px solid #ebebeb;
}

.hd #wrap {
  position: relative;
  color: #1c1c1c;
  min-width: 1260px;
  margin: 0 auto;
}

.hd .hd__inner1920 {
  width: 1920px;
  margin: 0 auto;
}

.hd .hd__inner1100 {
  width: 1100px;
  margin: 0 auto;
}

.hd .hd__inner900 {
  width: 900px;
  margin: 0 auto;
}

.hd__header {
  position: relative;
  width: 100%;
  min-width: 1200px;
  min-height: 160px;
  z-index: 4;
}

.hd__header .topBanner {
  overflow: hidden;
  position: relative;
  height: 40px;
  margin: 0 auto;
  background: #918c00;
}

.hd__header .topBanner figure {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 40px;
  margin-left: -960px;
}

.hd__header .topBanner__close {
  display: block;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.hd__header .header {
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 3;
  background: #fff;
}

.hd__header .header__sec {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.hd__header .header .user-area {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: right;
}

.hd__header .header .user-area .login-name {
  display: inline-block;
  margin-right: 25px;
}

.hd__header .header .user-area nav {
  display: inline-block;
}

.hd__header .header .user-area nav a {
  display: inline-block;
  font-size: 14px;
}

.hd__header .header .user-area nav a + a {
  margin-left: 32px;
}

.hd__header .header .user-area nav a + a:before {
  left: -16px;
}

.hd__header .header .user-area__menu > li {
  display: inline-block;
  position: relative;
}

.hd__header .header .user-area__menu > li:not(:first-child) {
  margin-left: 30px;
}

.hd__header .header .user-area__menu > li:not(:first-child):after {
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -7.5px;
  width: 1px;
  height: 15px;
  background: #888;
  content: '';
}

.hd__header .header .user-area__menu > li > a {
  display: block;
  line-height: 45px;
  font-size: 14px;
  color: #1c1c1c;
}

.hd__header .header .user-area__menu > li > a > i {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 2px;
  vertical-align: middle;
}

.hd__header .header .user-area__menu > li > a > i:after {
  position: absolute;
  top: -2px;
  right: 0px;
  width: 0;
  height: 0;
  content: '';
  border: 4px solid transparent;
  border-color: #1c1c1c transparent transparent transparent;
}

.hd__header .header .user-area__menu > li > ul {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  padding: 0 10px;
  width: 105px;
  border: 1px solid #ccc;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
}

.hd__header .header .user-area__menu > li > ul > li a {
  display: block;
  margin: 10px 0;
  font-size: 13px;
}

.hd__header .header .user-area__menu > li > ul > li a:hover {
  color: #918c00;
}

.hd__header .header .user-area__menu > li:hover > ul {
  display: block;
}

.hd__header .header .logo {
  float: left;
  margin: 36px 39px 35px 0;
  font-size: 0;
}

.hd__header .header .logo a {
  display: inline-block;
}

.hd__header .header .logo a img {
  display: block;
}

.hd__header .header .menu {
  display: flex;
  align-items: center;
  float: left;
  width: 220px;
  height: 50px;
  margin-top: 23px;
  border-radius: 25px;
  background: #eaeaea;
  font-family: "Noto Sans KR";
  text-decoration: none;
}

.hd__header .header .menu a {
  position: relative;
  width: 50%;
  line-height: 50px;
  font-size: 20px;
  color: #929292;
  text-align: center;
  text-decoration: none;
}

.hd__header .header .menu a.on {
  width: 55%;
  font-weight: bold;
  color: #fff;
  background: #918c00;
  border-radius: 25px;
}

.hd__header .header .menu a i {
  display: inline-block;
  margin: 0 -5px 0 3px;
  line-height: 1;
  font-size: 11px;
  font-style: normal;
  color: #ff0000;
  vertical-align: text-top;
}

.hd__header .header .all {
  position: relative;
  padding-bottom: 20px;
  width: 160px;
  vertical-align: top;
}

.hd__header .header .all > a {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 37px;
  white-space: nowrap;
}

.hd__header .header .all > a .all__icon {
  display: inline-block;
  margin-right: 10px;
  margin-top: -6px;
  vertical-align: middle;
}

.hd__header .header .all > a .all__icon span {
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  background: #1c1c1c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 4;
}

.hd__header .header .all > a .all__icon span:not(:first-child) {
  margin-top: 5px;
}

.hd__header .header .all > a .all__icon--close span:nth-child(1) {
  transform: rotate(-45deg);
}

.hd__header .header .all > a .all__icon--close span:nth-child(2) {
  margin-top: -3px;
  transform: rotate(45deg);
}

.hd__header .header .all > a .all__icon--close span:last-child {
  display: none;
}

.hd__header .header .all > a div {
  display: inline;
  position: relative;
  z-index: 4;
}

.hd__header .header .all-menu {
  display: none;
  position: absolute;
  left: -40px;
  top: 57px;
  width: 1180px;
  background: #fff;
  box-sizing: border-box;
  z-index: 1;
}

.hd__header .header .all-menu__inner {
  position: relative;
  padding: 40px 50px 40px 0;
  border: 2px solid #1c1c1c;
}

.hd__header .header .all-menu__depth1 {
  display: flex;
}

.hd__header .header .all-menu__depth1 > li {
  width: 20%;
}

.hd__header .header .all-menu__depth1 > li > a {
  display: block;
  margin: 0 10px 10px 60px;
  padding-bottom: 8px;
  font-size: 21px;
  font-weight: 600;
  border-bottom: 2px solid #1c1c1c;
}

.hd__header .header .all-menu__depth1 > li > a + a {
  margin-top: 10px;
}

.hd__header .header .all-menu__depth3 {
  display: none;
  position: absolute;
  left: calc(20% - 10px);
  top: 0;
  width: 18.5%;
  height: 100%;
  padding: 41px 30px 30px;
  box-sizing: border-box;
  background: #f5f5f5;
  border-left: 0;
}

.hd__header .header .all-menu__depth3 > a {
  display: block;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #1c1c1c;
}

.hd__header .header .all-menu__depth3 li {
  margin: 20px 0;
}

.hd__header .header .all-menu__depth3 li > a {
  display: inline-block;
  position: relative;
  font-size: 18px;
  word-break: keep-all;
}

.hd__header .header .all-menu__depth3 li:hover a {
  color: #918c00;
}

.hd__header .header .all-menu__depth3-tit {
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
}

.hd__header .header .all-menu__depth3-tit:not(:first-child) {
  margin-top: 40px;
}

.hd__header .header .all-menu__depth2 > li {
  padding: 0 20px 0 60px;
}

.hd__header .header .all-menu__depth2 > li > a {
  display: block;
  padding: 8px 0;
  line-height: 1.3;
  font-size: 18px;
}

.hd__header .header .all-menu__depth2 > li:hover {
  background: #f5f5f5;
}

.hd__header .header .all-menu__depth2 > li:hover > a {
  display: block;
  color: #918c00;
}

.hd__header .header .all-menu__depth2 > li:hover .all-menu__depth3 {
  display: block;
}

.hd__header .header .all-menu__depth2 > li:hover .all-menu__depth2-ico {
  background-position-x: -25px;
}

.hd__header .header .all-menu__depth2-ico {
  display: inline-block;
  margin: 5px 10px 0 0;
  width: 25px;
  height: 25px;
  vertical-align: top;
}

.hd__header .header .all-menu__depth2.depth > li > a {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #1c1c1c;
}

.hd__header .header .all-menu__depth2.depth > li:hover {
  background: none;
}

.hd__header .header .all-menu__depth2.depth > li:hover > a {
  border-color: #918c00;
}

.hd__header .header .all-menu__nav {
  margin-top: 20px;
}

.hd__header .header .all-menu__nav li {
  margin: 15px 0;
}

.hd__header .header .all-menu__nav li a {
  display: block;
  font-size: 16px;
}

.hd__header .header .all-menu__nav li a:hover {
  color: #918c00;
}

.hd__header .header .all.on > a:after {
  position: absolute;
  left: -40px;
  bottom: -22px;
  width: 189px;
  height: 73px;
  border-top: 2px solid #1c1c1c;
  border-right: 2px solid #1c1c1c;
  border-left: 2px solid #1c1c1c;
  background: #fff;
  z-index: 3;
  content: '';
}

.hd__header .header .all.on .all__icon span {
  background: #918c00;
}

.hd__header .header .all.on .all__icon span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hd__header .header .all.on .all__icon span:nth-child(2) {
  opacity: 0;
}

.hd__header .header .all.on .all__icon span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.hd__header .header .all.on .all-menu {
  display: block;
}

.hd__header .header .all-category {
  display: none;
  position: absolute;
  top: 111px;
  width: 100%;
  padding: 14px 45px 40px;
  background: #FFF;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.hd__header .header .all-category--show {
  display: block;
}

.hd__header .header .all-category .box {
  float: left;
}

.hd__header .header .all-category .box__list {
  margin: 5px 0;
}

.hd__header .header .all-category .box__list a {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  color: #1c1c1c;
}

.hd__header .header .all-category .box__list a:hover {
  color: #918c00;
}

.hd__header .header .all-category .box1 {
  margin-right: 50px;
  margin-left: 45px;
  font-weight: 600;
}

.hd__header .header .all-category .box2 {
  width: 190px;
  padding-left: 60px;
  text-align: left;
  box-sizing: border-box;
}

.hd__header .header .all-category .box3 {
  width: 190px;
  padding-left: 65px;
  text-align: left;
  box-sizing: border-box;
}

.hd__header .header .all-category .box4 {
  width: 190px;
  padding-left: 70px;
  text-align: left;
  box-sizing: border-box;
}

.hd__header .header .all-category .box5 {
  width: 190px;
  padding-left: 50px;
  text-align: left;
  box-sizing: border-box;
}

.hd__header .header .all-category2 {
  width: 130px;
  box-sizing: content-box;
}

.hd__header .header .gnb {
  position: absolute;
  left: 160px;
  bottom: 0;
  width: 680px;
  font-size: 0;
  vertical-align: top;
  z-index: 0;
}

.hd__header .header .gnb__list {
  display: inline-block;
  vertical-align: top;
  margin: 0 28px;
  padding-bottom: 23px;
  border-bottom: 4px solid #fff;
}

.hd__header .header .gnb__list a:hover {
  color: #918c00;
  transition: all 0.5s ease;
}

.hd__header .header .gnb__list.on {
  font-weight: bold;
  border-bottom-color: #918c00;
}

.hd__header .header .gnb__list-name {
  display: block;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.hd__header .header .gnb__list.importand a {
  position: relative;
  color: #fff !important;
}

.hd__header .header .gnb__list.importand a:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 40px;
  background: #918c00;
  border-radius: 40px;
  transform: translate3d(-50%, -50%, 0);
  content: '';
  z-index: -1;
}

.hd__header .header .gnb__list.point a {
  position: relative;
  font-weight: normal;
}

.hd__header .header .gnb__list.point a span {
  display: block;
  position: absolute;
  left: 50%;
  top: -13px;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: normal;
  color: #918c00;
  transform: translateX(-50%);
}

.hd__header .header .gnb .swiper-container {
  display: inline-block;
  margin: 0;
  overflow: inherit;
}

.hd__header .header .gnb .swiper-container .point {
  font-weight: bold;
}

.hd__header .header .gnb .swiper-container .point a:after {
  position: absolute;
  right: -7px;
  top: 0;
  width: 5px;
  height: 5px;
  background: #ff0000;
  border-radius: 50%;
  vertical-align: text-top;
  content: '';
}

.hd__header .header .direct {
  display: flex;
  margin: 20px 13px 0 0;
  float: right;
  align-items: center;
}

.hd__header .header .direct__search {
  display: inline-block;
  position: relative;
  margin-right: 22px;
  width: 420px;
  height: 55px;
  line-height: 55px;
  vertical-align: bottom;
  border: 1px solid #b2ac00;
  border-radius: 15px;
  text-indent: 20px;
  text-align: left;
  box-sizing: border-box;
}

.hd__header .header .direct__search input {
  line-height: 30px;
  width: 80%;
  border: 0;
  font-size: 18px;
  text-indent: 10px;
  background: transparent;
}

.hd__header .header .direct__search input::placeholder {
  color: #999;
}

.hd__header .header .direct__search a {
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  width: 40px;
  height: 55px;
  font-size: 0;
  background: url("${pageContext.request.contextPath}/resources/images/header-search-button.png") no-repeat center;
}

.hd__header .header .direct__search-remove {
  position: absolute;
  right: 65px;
  top: 18px;
  width: 20px;
  height: 20px;
  background: #ddd url("${pageContext.request.contextPath}/resources/images/header-search-button.png") no-repeat center;
  background-size: 50%;
  border-radius: 50%;
  font-size: 0;
}

.hd__header .header .direct__cart, .hd__header .header .direct__gift {
  display: inline-block;
  position: relative;
  margin: -2px 0 0 23px;
  vertical-align: bottom;
}

.hd__header .header .direct__cart span, .hd__header .header .direct__gift span {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: -12px;
  min-width: 23px;
  height: 23px;
  line-height: 23px;
  line-height: 23px;
  background: #918c00;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  border-radius: 100%;
}

.hd__header .header .direct__btn {
  margin-top: 3px;
}

.hd__header .header.fixed .header__inner {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  min-width: 1200px;
  border-bottom: 1px solid #dcdcdc;
  background: #fff;
  z-index: 5;
}

.hd__header--showBg {
  background: #FFF;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.1);
}

.hd__header.care .all.on > a:after, .hd__header.care .all-menu__inner {
  border-width: 1px;
  border-color: #bababa;
}