.content-info > li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #888;
}

.content-info li:last-child {
  color: #1c1c1c;
  font-weight: bold;
}

.content-info li:last-child:before {
  content: '>';
  color: #888;
  margin: 0 10px;
}

.form-main {
  width: 750px;
  margin: 0 auto;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.title {
  margin: 50px 0 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.register-comment {
  color: #4F4F4F;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #888;
  line-height: 1.8;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.all-agreement-check {
  padding: 8px 0px 8px 0px;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ACACAC;
  background-image: url("/greating/resources/images/user/register-checkbox.png");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ccc;
  background-size: cover;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: #918c00; /* 체크된 상태의 배경색 지정 */
}

.checkbox-container .text {
  color: #000;
  margin-left: 35px;
  position: relative;
  /*padding: 20px 0;*/
  background: none;
  font-weight: 600;
}

.checkbox-container img {
  margin-left: auto;
}

.flex-right {
  width: 30px;
}

.point {
  display: inline-block;
  margin-left: 5px;
  padding: 4px 10px;
  font-size: 14px;
  background: #efe435;
  border-radius: 30px;
  vertical-align: middle;
}

.button-container {

  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.left-button, .right-button {
  flex: 1;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none #918c00;
  cursor: pointer;
}

.left-button {
  background: #FFF;
  border: 1px solid #ccc;
}

.right-button {
  color: #fff;
  background-color: #918C00;
}
