<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <setting name="logImpl" value="LOG4J2"/>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="User" type="com.codals.greating.user.entity.User"/>
    <typeAlias alias="Post" type="com.codals.greating.diy.entity.Post"/>
    <typeAlias alias="Food" type="com.codals.greating.food.entity.Food"/>
    <typeAlias alias="PostResponseDto" type="com.codals.greating.diy.dto.PostResponseDto"/>
    <typeAlias alias="MainCategory" type="com.codals.greating.diet.entity.MainCategory"/>
    <typeAlias alias="SubCategory" type="com.codals.greating.diet.entity.SubCategory"/>
    <typeAlias alias="MypageDiy" type="com.codals.greating.mypage.dto.MyPageDto"/>
    <typeAlias alias="MypageScrap" type="com.codals.greating.mypage.dto.MyPageScrapDto"/>
    <typeAlias alias="ScrapRequestDto" type="com.codals.greating.diy.dto.SrcapRequestDto"/>
  </typeAliases>
  
</configuration>
