<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <setting name="logImpl" value="LOG4J2"/>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="User" type="com.codals.greating.user.entity.User"/>
    <typeAlias alias="Post" type="com.codals.greating.diy.entity.Post"/>
    <typeAlias alias="Food" type="com.codals.greating.food.entity.Food"/>
    <typeAlias alias="Vote" type="com.codals.greating.diy.entity.Vote"/>
    <typeAlias alias="Scrap" type="com.codals.greating.diy.entity.Scrap"/>
    <typeAlias alias="Comment" type="com.codals.greating.diy.entity.Comment"/>
    <typeAlias alias="PostResponseDto" type="com.codals.greating.diy.dto.PostResponseDto"/>
    <typeAlias alias="MainCategory" type="com.codals.greating.diet.entity.MainCategory"/>
    <typeAlias alias="SubCategory" type="com.codals.greating.diet.entity.SubCategory"/>
    <typeAlias alias="DailyDiet" type="com.codals.greating.diet.entity.DailyDiet"/>
    <typeAlias alias="Diet" type="com.codals.greating.diet.entity.Diet"/>
    <typeAlias alias="Order" type="com.codals.greating.diet.entity.Order"/>
    <typeAlias alias="OrderDiet" type="com.codals.greating.diet.entity.OrderDiet"/>
    <typeAlias alias="MypageDiy" type="com.codals.greating.mypage.dto.MyPageDto"/>
    <typeAlias alias="MypageScrap" type="com.codals.greating.mypage.dto.MyPageScrapDto"/>
    <typeAlias alias="ScrapRequestDto" type="com.codals.greating.diy.dto.ScrapRequestDto"/>
    <typeAlias alias="VoteRequestDto" type="com.codals.greating.diy.dto.VoteRequestDto"/>
    <typeAlias alias="PostStaticResponseDto" type="com.codals.greating.diy.dto.PostStaticResponseDto"/>
    <typeAlias alias="CommentResponseDto" type="com.codals.greating.diy.dto.CommentResponseDto"/>
    <typeAlias alias="SearchRequestDto" type="com.codals.greating.diy.dto.SearchRequestDto"/>
    <typeAlias alias="SimplePostDto" type="com.codals.greating.diy.dto.SimplePostDto"/>
    <typeAlias alias="AdminTopList" type="com.codals.greating.admin.dto.AdminDto"/>
    <typeAlias alias="AdminDailyDietResponseDto" type="com.codals.greating.admin.dto.AdminDailyDietResponseDto"/>
        
  </typeAliases>
  
</configuration>
