* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
}

.banner {
	width: 90%;
	height: 45px;
	background: url("../images/v62_1140.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
	margin: 0 auto;
	text-align: right;
}

.banner span {
	display: inline-block;
	vertical-align: middle;
	color: rgba(28, 28, 28, 1);
	font-family: "Noto Sans KR";
	font-weight: 300;
	font-size: 14px;
	opacity: 1;
}

.link {
	text-align: right;
	margin: 0 5px;
}

.link a.no-underline {
  text-decoration: none;
  color: inherit;
}

.divider {
	width: 1px;
	height: 15px;
	background: rgba(136, 136, 136, 1);
	margin: 0 5px;
}

.customer-service {
	width: 64px;
	height: 46px;
	background: url("../images/v62_1146.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	vertical-align: middle;
}

.customer-service-label {
	text-align: right;
	margin: 0 5px;
}

.divider:last-child {
	display: none;
}