@charset "UTF-8";
/* body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
} */
.content {
	margin-left: 250px;
	padding-left: 80px;
	position: absolute;
	width: 80%;
	margin-top: 150px;
}

.content-div {
	min-width: 1100px;
	max-width: 1500px;
	margin: 0px auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th, table td {
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table th {
	background-color: #f1f1f1;
	font-weight: bold;
	text-align: center;
}

table td {
	text-align: center;
}

td


:not

 

(
:first-child

 

)
{
max-width


:

 

50
px


;
text-align


:

 

center


;
}
td:first-child {
	max-width: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
}

td:first-child:hover {
	background-color: #ccc
}

a {
	text-decoration: none;
	color: black;
}

#approveBtn {
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #918c01;
	border-radius: 5px;
}

#cancelApprovalBtn {
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #918c01;
	border-radius: 5px;
	color: red;
}

#diyToDietBtn {
	padding: 7px;
	width: 73px;
	border-radius: 5px;
	border: 1px solid #918c01;
}

#cancelDiet {
	padding: 7px;
	color: red; width : 73px;
	border-radius: 5px;
	border: 1px solid #918c01;
	width: 73px;
}